*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
}

header{
  width:100%;
  height:72vh;
  position:relative;
  overflow:hidden;
  display: flex;
}

.bg-video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-2;
}
.head-sec{ 
  width:100%; 
  display:flex; 
  justify-content:space-between; 
  padding:30px 90px; 
} 
.logo-sec{ 
  width:10%; 
  height: 10%;
}

nav{
  display:flex;
  gap:50px;
  margin-top: 20px;
}

nav a{
  text-decoration:none;
  color:white;
  font-size:14px;
  font-weight:700;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.3s;
}

nav a:hover{
  color:#ff7b00;
}

.icons{
  display:flex;
  gap:15px;
}

.icons i{
  width:40px;
  height:40px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#c0392b;
  color:white;
  font-size:17px;
  cursor:pointer;
  transition:0.3s;
}

.icons i:hover{
  background:#ff7b00;
  transform:translateY(-5px);
}

.about-text{
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:white;
}

.about-text h4{
  font-size:20px;
  font-family:cursive;
  margin-bottom:10px;
  animation: up 5s ease;
}
@keyframes up{

  0%{
    opacity:0;
    transform:translateY(-40px);
  }

  100%{
    opacity:1;
    transform:translateY(0);
  }

}

.about-text h1{
  font-size:80px;
  text-transform:uppercase;
  animation: down 5s ease;
}
@keyframes down{

  0%{
    opacity:0;
    transform:translateY(40px);
  }

  100%{
    opacity:1;
    transform:translateY(0);
  }

}
@media(max-width:991px){

  .head-sec{
    padding:25px 30px;
    flex-direction:column;
    gap:25px;
  }

  nav{
    gap:25px;
    justify-content:center;
  }

  .about-text h1{
    font-size:60px;
  }

}

@media(max-width:600px){

  nav a{
    font-size:12px;
  }

  .about-text h4{
    font-size:25px;
  }

  .about-text h1{
    font-size:40px;
  }

  .icons i{
    width:40px;
    height:40px;
  }

}

.sect1{
  display: flex;
  margin-top: 9%;
}

.sect1 h3{
  color:#000;
  font-size:33px;
  font-family:"Poppins", sans-serif;
  font-weight:900;
  text-transform:uppercase;
  letter-spacing:2px;
  margin-left: 100px;
}
.sect1 p{
  width: 60%;
  margin-top: 10px;
  color: #444444;
  font-size:15px;
  font-family:"Poppins", sans-serif;
  line-height: 30px;
  margin-left: 100px;
}
.sect1 ul{
  list-style:disc;
  padding-left:50px;
  font-weight: bold;
  margin-left: 80px;
}

.sect1 li::marker{
  color:orange;
  font-size:27px;
}
.imgd{
  margin-right:-100px;
  height: 100%;
  width: 90%;
}
.imgd1{
  height: 100%;
  width: 90%;
  margin-left: -400px;
}

.d1{
  display: flex;
  gap:-20px;
}
.sect1{
  animation:fadeUp 1.5s ease;
}

.sect1 h3,
.sect1 p,
.sect1 ul{
  animation:leftMove 1.5s ease;
}

.imgd,
.imgd1{
  animation:rightMove 2s ease;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(50px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes leftMove{
  from{
    opacity:0;
    transform:translateX(-80px);
  }

  to{
    opacity:1;
    transform:translateX(0);
  }
}

@keyframes rightMove{
  from{
    opacity:0;
    transform:translateX(80px);
  }

  to{
    opacity:1;
    transform:translateX(0);
  }
}

.section-5{
  width:100%;
  padding:120px 10%;
  background:#F6EEE9;
  text-align:center;
  margin-top: 50px;
}

.section-5 img{
  width:80px;
  margin-bottom:40px;
}

.sec-5{
  position:relative;
  width:100%;
  max-width:900px;
  margin:auto;
  height:220px;
  overflow:hidden;
}

.sec-5 div{
  position:absolute;
  width:100%;
  left:0;
  top:0;
  opacity:0;
  animation:slider 8s infinite;
}

.sec-5 div:nth-child(2){
  animation-delay:4s;
}

.quote{
  font-size:28px;
  font-weight:800;
  line-height:1.5;
  text-transform:uppercase;
  color:black;
  width:85%;
  margin:auto;
  margin-bottom:35px;
}

.name{
  font-size:38px;
  color:#d35400;
  font-family:cursive;
  font-weight:bold;
  letter-spacing:2px;
}

@keyframes slider{

  0%{
    opacity:0;
    transform:translateX(30px);
  }

  20%{
    opacity:1;
    transform:translateX(0);
  }

  40%{
    opacity:1;
    transform:translateX(0);
  }

  60%{
    opacity:0;
    transform:translateX(-30px);
  }

  100%{
    opacity:0;
    transform:translateX(-30px);
  }

}

@media(max-width:768px){

  .quote{
    font-size:20px;
    width:100%;
  }

  .name{
    font-size:28px;
  }

}

.meet-sec h2{
  color:#000000;
  font-size:40px;
  font-family:"Poppins", sans-serif;
  font-weight:900;
  text-align: center;
}
.p0{
  color: #444444;
  font-size: 15px;
  font-family:"Poppins", sans-serif;
  text-align: center;
  width: 110%;
}

.dimag{
  display:flex;
  justify-content:space-between;
  margin-top: 20px;
}

.dimag1{
  position:relative;
  width:300px;
  overflow:hidden;
  border-radius:20px;
}

.dimag1 img{
  width:100%;
  display:block;
  transition: 9s;
}
.dimag1:hover{
  cursor: pointer;
  opacity: 0.4;
}

.p1,.h61{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  color:white;
  font-weight:bold;
  opacity:0;
  transition:0.5s;
}

.h61{
  top:200px;
  font-size:22px;
}

.p1{
  top:250px;
  font-size:15px;
  color:#ffd166;
  font-weight:900;
  letter-spacing:1px;

}

.dimag1:hover .p1,
.dimag1:hover .h61{
  opacity:1;
}

.footer-sec{
  width:100%;
  padding:100px 8% 40px;
  background-image:
  linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
  background-size:cover;
  background-position:center;
  margin-top: 100px;
}

.footer-box{
  display:flex;
  justify-content:space-between;
  gap:40px;
}

.logo-sec1{
  width:170px;
  margin-bottom:40px;
}

.icons{
  display:flex;
  gap:15px;
}

.icons i{
  width:55px;
  height:55px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#e74c3c;
  color:white;
  font-size:20px;
  cursor:pointer;
  transition:0.3s;
}

.icons i:hover{
  background:#ff7b00;
  transform:translateY(-5px);
}

.footer-links{
  display:flex;
  flex-direction:column;
  gap:35px;
}

.footer-links a{
  text-decoration:none;
  color:white;
  font-size:18px;
  font-weight:700;
  text-transform:uppercase;
  transition:0.3s;
}

.footer-links a:hover{
  color:#ff7b00;
  padding-left:10px;
}

.copy{
  text-align:center;
  color:white;
  margin-top:90px;
  font-size:15px;
  font-weight:700;
  letter-spacing:2px;
}

@media(max-width:991px){

  .footer-box{
    justify-content:center;
    text-align:center;
  }

  .footer-left{
    width:100%;
  }

  .icons{
    justify-content:center;
  }

}